body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.avatar {
    width: 150px;
    margin-right: 10px;
} 
.card{
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    display: flex ;
    border: 1px dotted blue;
    justify-content: space-around ;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: 10px solid #d8cefe ;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.border{
    border: 1px dotted blue;
}
